apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
      listen 80;
      root /usr/share/nginx/html;
      index index.php index.html;

      location / {
        try_files $uri $uri/ /index.php;
      }

      location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass php-service:9000;
        fastcgi_param SCRIPT_FILENAME /var/www/html$fastcgi_script_name;
      }
    }
