version: "3.9"

services:
  nginx:
    build: ./nginx
    container_name: nginx-frontend
    ports:
      - "80:80"
    depends_on:
      - php
    networks:
      - app-network

  php:
    build: ./php
    container_name: php-backend
    networks:
      - app-network

  mysql:
    build: ./mysql
    container_name: mysql-db
    networks:
      - app-network

networks:
  app-network:
